# Making main df

In [17]:
import pandas as pd
from datetime import date, timedelta
import yfinance as yf

In [9]:
def read_data(data_list):
    df_list = []
    path = 'return_data/'

    for data in data_list:
        df = pd.read_excel(path+data)
        df['Model'] = data[:-5]

        df_list.append(df)

    all_df = pd.concat(df_list)

    return all_df

In [10]:
data_list = ['bb_bands.xlsx', 'moving_average.xlsx', 'rsi.xlsx', 'stochastic.xlsx']

In [11]:
df = read_data(data_list)
df

,Unnamed: 0,Stock,Stop loss,Buy n hold,Long position return,Short position return,Average return,LP vs BH (%),SP vs BH (%),Avg vs BH (%),Model
0,0,AMD,3,1059.727877,86.900315,2.208540,44.554427,-91.799752,-99.791594,-95.795673,bb_bands
1,1,AMD,7,1059.727877,59.819072,-10.563106,24.627983,-94.355242,-100.996775,-97.676009,bb_bands
2,2,AMD,14,1059.727877,59.819072,-10.563106,24.627983,-94.355242,-100.996775,-97.676009,bb_bands
3,3,AMD,21,1059.727877,59.819072,-10.563106,24.627983,-94.355242,-100.996775,-97.676009,bb_bands
4,4,AMD,30,1059.727877,59.819072,-10.563106,24.627983,-94.355242,-100.996775,-97.676009,bb_bands
...,...,...,...,...,...,...,...,...,...,...,...
150,150,MMM,3,116.539011,9.916903,-48.415450,-19.249274,-91.490486,-141.544415,-116.517451,stochastic
151,151,MMM,7,116.539011,-16.724014,-39.914465,-28.319240,-114.350572,-134.249874,-124.300223,stochastic
152,152,MMM,14,116.539011,76.624619,-28.588719,24.017950,-34.249812,-124.531458,-79.390635,stochastic
153,153,MMM,21,116.539011,37.869863,13.768944,25.819404,-67.504561,-88.185121,-77.844841,stochastic
154,154,MMM,30,116.539011,110.404839,17.032023,63.718431,-5.263622,-85.385131,-45.324377,stochastic

In [12]:
df = df.drop(columns=['Unnamed: 0', 'Average return', 'LP vs BH (%)','SP vs BH (%)','Avg vs BH (%)'])
df.head()

,Stock,Stop loss,Buy n hold,Long position return,Short position return,Model
0,AMD,3,1059.727877,86.900315,2.208540,bb_bands
1,AMD,7,1059.727877,59.819072,-10.563106,bb_bands
2,AMD,14,1059.727877,59.819072,-10.563106,bb_bands
3,AMD,21,1059.727877,59.819072,-10.563106,bb_bands
4,AMD,30,1059.727877,59.819072,-10.563106,bb_bands

# Making TIP return df

In [21]:
# This will return a average of each yeat return of Treasury
def find_average_index(asset):

    end_date = date.today()
    start_date = end_date - timedelta(365*20)

    df = yf.download(asset, start_date, end_date)
    df = df.dropna()

    return df

In [24]:
tip = find_average_index('TIP')
tip.head()

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close  Adj Close  Volume
Date
2004-02-10  103.559998  103.559998  103.260002  103.360001  55.015133  185200
2004-02-11  103.209999  103.970001  103.160004  103.779999  55.238663  195800
2004-02-12  103.730003  103.820000  103.470001  103.489998  55.084305  188900
2004-02-13  103.830002  104.290001  103.699997  104.290001  55.510162  123000
2004-02-17  103.860001  103.900002  103.699997  103.779999  55.238663  186400

In [33]:
# Calculating historical return
tip_return = ((tip.iloc[-1]['Adj Close'] / tip.iloc[0]['Adj Close']) - 1 )* 100
tip_return

94.49194131114741

In [44]:
tip_return_df = pd.DataFrame(columns=[['Asset', 'Return']],data=[['TIP',tip_return]])
tip_return_df

  Asset     Return
0   TIP  94.491941

# Saving DFs

In [45]:
df.to_excel('main_df.xlsx', index=False)
tip_return_df.to_excel('tip_df.xlsx', index=False)